body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content-table {
  width: 100%;
  border-collapse: collapse;
}

.content-table th {
  border: 1px solid #ddd;
  padding: 4px;
  background-color: #f2f2f2;
  text-align: left;
}

.content-table td {
  border-bottom: 1px solid #ddd;
  padding: 2px;
}

.context-menu {
  cursor: pointer;
}

.context-menu:hover {
  color: #007BFF;
  background-color: #ddd;
  border-radius: 4px;
}

.column-name {
  text-align: left;
}

.column-file-size {
  text-align: right;
  padding-right: 10px;
}
.column-menu {
  text-align: center;
}

th.table-header-actions {
  text-align: center;
}

th.table-header-size {
  text-align: right;
  padding-right: 10px;
}